/* Icon Text Buttons */

.icon-text-btn {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid var(--deep-blue);
    color: var(--deep-blue);
}

.icon-text-btn-large {
    height: 2.5em;
    border-radius: 1.25rem;
}

/* Apply default button colors */

.icon-text-btn-default {
    background-color: var(--soft-pink);
}

.icon-text-btn-primary {
    background-color: var(--cheesy-orange);
}

/* Style the contents: Flexbox */

.icon-text-btn__content {
    display: flex;
    align-items: center;
}

.icon-text-btn__content-icon-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

/* Style the icon */

.icon-text-btn__content__icon {
    margin-top:-1px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--deep-blue);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

.icon-text-btn__content__icon-large {
    height: 2.5rem;
    width: 2.5rem;
}


/* Style the text */

.icon-text-btn__content__text {
    padding: 0 1.2rem 0 0.5rem;
    margin: 0 auto;
}

.icon-text-btn__content__text-icon-right {
    padding: 0 0.5rem 0 1.2rem;
    margin: 0 auto;
}